<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/answer" data-turbo="false" class="d-flex alin-items-center ms-3">
  <input type="text" name="question" class="w-25 p-1 rounded-start rounded-0 border-1">
  <input type="submit" value="Ask!" class="btn btn-primary rounded-end rounded-0">
</form>
</body>
</html>
